main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(5, 20vh);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.messages {
  grid-area: 1 / 1 / 2 / 5;
  justify-content: center;
  align-items: center;
  background-color: rgba(164, 164, 164, 0.769);
  border-radius: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
  font-size: 30px;
}
.bag {
  grid-area: 1 / 5 / 6 / 6;
  background-color: gray;
}
.main-window {
  grid-area: 1 / 1 / 6 / 5;
  width: 100%;
  height: 100%;
}
.map {
  width: 80vw;
  height: 100vh;
}

.bag-item {
  width: 93%;
  height: 19vh;
}
.fire-bag {
  display: none;
  position: absolute;
  scale: 0.8;
  left: 83%;
  top: 0%;
}

.crate-1 {
  top: 35.5%;
  left: 65%;
  scale: 5;
  position: absolute;
}
.crate-2 {
  top: 29.5%;
  left: 16%;
  scale: 5;
  position: absolute;
}
.crate-3 {
  top: 76.5%;
  left: 42%;
  scale: 5;
  position: absolute;
}

.character {
  top: 53%;
  left: 10%;
  scale: 2;
  position: absolute;
}

.shot-1 {
  display: none;
  top: 35.5%;
  left: 65%;
  scale: 7;
  position: absolute;
}
.shot-2 {
  display: none;
  top: 29.5%;
  left: 16%;
  scale: 7;
  position: absolute;
}
.shot-3 {
  display: none;
  top: 76.5%;
  left: 42%;
  scale: 7;
  position: absolute;
}
.fire-1 {
  display: none;
  top: 9.5%;
  left: 58.5%;
  scale: 0.5;
  position: absolute;
}
.next-level {
  display: none;
  top: 30%;
  left: 20%;
  scale: 0.5;
  position: absolute;
}
